@font-face {
  font-family: 'Geist';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src:
    local('Geist'),
    local('Geist Variable'),
    url('/fonts/Geist-Variable.woff2') format('woff2-variations'),
    url('/fonts/Geist-Variable.woff2') format('woff2');
}

@font-face {
  font-family: 'Geist Mono';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src:
    local('Geist Mono'),
    local('GeistMono Variable'),
    url('/fonts/GeistMono-Variable.woff2') format('woff2-variations'),
    url('/fonts/GeistMono-Variable.woff2') format('woff2');
}
